body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
    /* Altura completa de la ventana del navegador */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    /* Límite de ancho para que no crezca demasiado en pantallas grandes */
}

.main-container,
.github-link-container {
    width: 100%;
    /* Establece que cada elemento hijo tenga el mismo ancho */
}

.github-link-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.github-link {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Asegura que use todo el ancho posible dentro de su contenedor */
}

.github-logo {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-radius: 50%;
    /* Hace el logo redondo */
}

h1 {
    color: #333;
    text-align: center;
}

h4 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
button,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input,
select,
textarea,
button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    resize: vertical;
}


@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .main-container {
        padding: 15px;
    }

    input,
    select,
    button,
    textarea {
        font-size: 14px;
    }

    .github-link {
        padding: 10px 15px;
    }
}