body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.6;
    margin: 1.5cm;
}

/* Estilo de los encabezados */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

/* Estilo de los párrafos */
p {
    margin: 10px 0;
}

/* Estilo de las listas */
ul,
ol {
    margin-left: 20px;
}

/* Estilo de los enlaces */
a {
    text-decoration: none;
    color: #0078d4;
}

a:hover {
    text-decoration: underline;
}

/* Estilo de las citas */
blockquote {
    margin-left: 20px;
    border-left: 2px solid #0078d4;
    padding-left: 10px;
}

/* Estilo de las imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilo de los códigos */
code {
    font-family: Consolas, monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

/* Estilo de encabezados de tabla */
th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Estilo de pie de página */
footer {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}

/* Estilos para el índice de contenidos */
#table-of-contents {
    font-size: 14px;
    margin-bottom: 20px;
}

#table-of-contents ul {
    list-style-type: none;
    padding-left: 0;
}

#table-of-contents li {
    margin-bottom: 5px;
}

#table-of-contents a {
    text-decoration: none;
    color: #0074d9;
}

#table-of-contents a:hover {
    text-decoration: underline;
}